# Ignore .env files and similar environment files
.env

# Ignore other common sensitive files
*.pem
*.key
*.cert

# Ignore version control directories
.git/
.gitignore
.svn/
.hg/

# Ignore common backup files
*~
*.bak
*.tmp
*.swp

# Ignore log files and directories
logs/
*.log

# Ignore node modules
node_modules/

# Ignore build output directories
dist/
build/
out/
.venv

# Ignore IDE specific files and directories
.vscode/
.idea/
*.sublime-workspace
