fastapi
uvicorn
beautifulsoup4
langchain
atlassian-python-api
Pillow
lxml
pytesseract
chromadb
python-dotenv
tiktoken
# https://python.langchain.com/docs/guides/pydantic_compatibility
pydantic==1.*
slack-sdk
openai
python-multipart
docx2txt
python-docx
pypdf
unstructured[all-docs]
google-api-python-client
playwright
html2text
GitPython
fake_useragent
black
numexpr
pysqlite3-binary
pgvector
psycopg2-binary