fastapi
uvicorn
beautifulsoup4
langchain
atlassian-python-api
Pillow
lxml
pytesseract
chromadb
python-dotenv
tiktoken
pydantic
slack-sdk
openai
python-multipart
docx2txt
python-docx
pypdf
unstructured[all-docs]
google-api-python-client
playwright
html2text
GitPython
fake_useragent
black