fastapi==0.108.0
uvicorn==0.25.0
beautifulsoup4==4.12.2
langchain==0.0.352
atlassian-python-api==3.41.4
Pillow==10.1.0
lxml==4.9.4
pytesseract==0.3.10
chromadb==0.4.21
python-dotenv==1.0.0
tiktoken==0.5.2
pydantic==1.10.13
slack-sdk==3.26.1
# openai==1.6.1
openai==0.28.1
python-multipart==0.0.6
docx2txt==0.8
python-docx==1.1.0
pypdf==3.17.4
unstructured[all-docs]==0.11.6
google-api-python-client==2.111.0
playwright==1.40.0
html2text==2020.1.16
GitPython==3.1.40
fake_useragent==1.4.0
black==23.12.1
numexpr==2.8.8
# pysqlite3-binary==0.5.2.post2
pgvector==0.2.4
# psycopg2-binary==2.9.9
# psycopg2==2.9.9